
<launch>

<!--	 
		Here add all the instances of optitrack objects to be tracked.
		The node name must match the name on the optitrack server.
		The numeric id parameter is equivalent to the Vicon id under the old system
		and should be unique.
		
		With "output_topic" parameter you can set the topic the vicon messages
		are output to. This allows you to aggregate all objects in the same topic if you wish.
-->	

	<node name="K4" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="1" />
	</node>

	<node name="K6" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="2" />
	</node>

	<node name="K12" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="3" />
	</node>

<!--	<node name="K8" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="4" />
	</node>
-->
	<node name="K13" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="4" />
	</node>

	<node name="K10" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="5" />
	</node>


<!--
	<node name="K4" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="4" />
	</node>

	<node name="UAV1" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="5" />
	</node>
	
	<node name="UAV2" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="6" />
	</node>

	<node name="UAV3" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="7" />
	</node>

	
	<node name="Threat1" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="8" />
	</node>

	<node name="Threat2" pkg="optitrack_driver" type = "optitrack">
		<param name="vrpn_server_ip" value="192.168.2.145" />
		<param name="numeric_id" value="9" />
	</node>
-->

</launch>
	
